.Weather {
 background-color: white;
z-index: 7;
  border-radius: 4px;
  padding: 3rem;
}
.Weather h1 {
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  margin-top: 20px;
}
.Weather li {
  color: #000000;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather canvas {
  display: inline;
  
  margin-right: 10px;
}
.Weather .flex{
   display: flex;
    align-items: center;
  
}
.Weather .temperature {
  display: inline;
  font-size: 47px;
  letter-spacing: -1px;
  line-height: 64px;
  color: #000000;
  text-transform: none;
  max-height: 999999px;
}

 
.unit {
   color: #000000;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    top: -19px;
}
.Weather .btn {  
  color:rgb(0, 0, 0);
border: 2px dotted ;
}
